In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import os

In [2]:
data_path = r'/Users/alexandraszenti/Documents/GitHub Projects/ARRBHack-2018/_data'

In [3]:
df = pd.read_csv(os.path.join(data_path,'roadcasualties.csv'))

In [4]:
df.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
1,2001,Central,Fatality,0 to 16,Male,Passenger,3
2,2001,Central,Fatality,0 to 16,Male,Pedestrian,1
3,2001,Central,Fatality,0 to 16,Female,Passenger,1
4,2001,Central,Fatality,17 to 24,Male,Driver,12

In [18]:
cyclists = df[df.Casualty_RoadUserType == 'Bicyclist']

In [19]:
cyclists.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
1,2001,Central,Fatality,0 to 16,Male,Bicyclist,3
2,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
3,2001,Central,Fatality,0 to 16,Female,Bicyclist,1
4,2001,Central,Fatality,17 to 24,Male,Bicyclist,12

In [21]:
cyclists.Casualty_AgeGroup.value_counts()

17 to 24       2791
30 to 39       2652
40 to 49       2600
25 to 29       2438
50 to 59       2438
0 to 16        2267
60 to 74       2234
75 and over    1632
Unknown        1000
Name: Casualty_AgeGroup, dtype: int64

In [23]:
cyclists.Casualty_Severity.value_counts()

Hospitalised         6257
Medically treated    6249
Minor injury         5199
Fatality             2347
Name: Casualty_Severity, dtype: int64

In [27]:
print(8600/20000)

0.43