In [1]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import os

In [22]:
data_path = r'/Users/alexandraszenti/Documents/GitHub Projects/ARRBHack-2018/_data'

In [23]:
df = pd.read_csv(os.path.join(data_path,'roadcasualties.csv'))

In [24]:
df.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
1,2001,Central,Fatality,0 to 16,Male,Passenger,3
2,2001,Central,Fatality,0 to 16,Male,Pedestrian,1
3,2001,Central,Fatality,0 to 16,Female,Passenger,1
4,2001,Central,Fatality,17 to 24,Male,Driver,12

In [25]:
cyclists = df[df.Casualty_RoadUserType == 'Bicyclist']

In [26]:
cyclists.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
14,2001,Central,Fatality,30 to 39,Male,Bicyclist,1
19,2001,Central,Fatality,40 to 49,Male,Bicyclist,2
36,2001,Central,Fatality,75 and over,Male,Bicyclist,1
42,2001,Central,Hospitalised,0 to 16,Male,Bicyclist,20

In [27]:
cyclists.Casualty_AgeGroup.value_counts()

0 to 16        453
17 to 24       429
30 to 39       419
40 to 49       418
25 to 29       371
50 to 59       369
60 to 74       308
75 and over    113
Unknown         79
Name: Casualty_AgeGroup, dtype: int64

In [28]:
cyclists.Casualty_Severity.value_counts()

Medically treated    1054
Hospitalised         1005
Minor injury          780
Fatality              120
Name: Casualty_Severity, dtype: int64

In [29]:
print(1125/2959)

0.3801960121662724

In [30]:
cyclists.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
14,2001,Central,Fatality,30 to 39,Male,Bicyclist,1
19,2001,Central,Fatality,40 to 49,Male,Bicyclist,2
36,2001,Central,Fatality,75 and over,Male,Bicyclist,1
42,2001,Central,Hospitalised,0 to 16,Male,Bicyclist,20

In [31]:
fatal = cyclists['Casualty_Severity'] != 'Minor injury'
hospitalised = cyclists['Casualty_Severity'] != 'Medically treated'
cyclists = cyclists[fatal & hospitalised]

In [32]:
cyclists.head()

,Crash_Year,Crash_Police_Region,Casualty_Severity,Casualty_AgeGroup,Casualty_Gender,Casualty_RoadUserType,Casualty_Count
0,2001,Central,Fatality,0 to 16,Male,Bicyclist,1
14,2001,Central,Fatality,30 to 39,Male,Bicyclist,1
19,2001,Central,Fatality,40 to 49,Male,Bicyclist,2
36,2001,Central,Fatality,75 and over,Male,Bicyclist,1
42,2001,Central,Hospitalised,0 to 16,Male,Bicyclist,20

In [33]:
cyclists.Casualty_AgeGroup.value_counts()

0 to 16        167
40 to 49       166
17 to 24       155
30 to 39       154
50 to 59       150
25 to 29       135
60 to 74       127
75 and over     65
Unknown          6
Name: Casualty_AgeGroup, dtype: int64